footer{
	background-color: #f8f8f8;
}


.card{
	position: relative;
	top: -130px;
	background-color: var(--white);
	border-radius: 10px;
	box-shadow: 0px 20px 20px 0px #80808016;
	padding: 58px 70px;
	display: grid;
	align-items: center;
	justify-content: space-between;
}

.card h1{
	color: var(--black);
	font-weight: 500;
    font-size: 35px;
    line-height: 45px;
	max-width: 371px;
}

.card p{
	color: var(--grey);
	font-weight: 400;
    font-size: 16px;
    line-height: 30px;
	margin: 20px auto 50px;
}

.card button {
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 15px 75px;
    background-color: var(--red);
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    transition: var(--tran05);
}

.card button:hover{
	box-shadow: 1px 15px 20px 2px rgb(245 56 56 / 35%);
}



.f1 img{
	width: 150px;
	margin-bottom: 20px;
}

.f1 p{
	max-width: 340px;
	color: var(--grey);
	font-weight: 500;
    font-size: 16px;
    line-height: 30px;
	margin-bottom: 30px;
}

.sites img{
	width: 40px;
}

h6{
	color: #AFB5C0;
	font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

h3{
	color: var(--black);
	font-weight: 500;
    font-size: 18px;
    line-height: 30px;
	margin: 15px auto;
}

.f1 ul li{
	margin: 5px auto;
	color: var(--grey);
	font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.footer{
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
	padding-bottom: 100px;
}


.f3{
	margin: auto;
}